* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
}

:root {
    --color-primary: #ffffff;
    --color-secondary: #3385bb;
    --color-tertiary: #999999;
}

a {
    text-decoration: none;
}

/* ===== Header ===== */

#site-header {
    background: var(--color-secondary);
    padding: 10px 0;
}

.container {
    max-width: 1790px;
    width: 100%;
    display: flex;
    justify-content: start;
    margin: 0 auto;
    padding: 0 15px;
}

.social-links p {
    color: var(--color-primary);
    font-size: 25px;
}

.social-links i {
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 5px;
    font-size: 25px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.3s;
}

.social-links i:hover {
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
}

/* ===== Banner Section & Navbar */

#banner {
    background: url("../images/landingpage-banner.png");
    background-size: cover;
    min-height: 980px;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.nav-menu {
    max-width: 570px;
    width: 100%;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
}

a.logo {
    font-size: 60px;
    font-weight: 800;
    color: var(--color-primary);
}

ul.nav-menu li a {
    font-size: 18px;
    font-weight: 700;
    color: var(--color-primary);
    position: relative;
    transition: transform 0.3s;
}

ul.nav-menu li a::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--color-primary);
    transition: width 0.3s ease;
}

ul.nav-menu li a:hover::after {
    width: 100%;
}

/* ===== Banner Content ===== */

.banner-content {
    padding: 30px 0 30px;
    text-align: center;
}

.banner-content .row {
    max-width: 1350px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin: 65px auto 0;
    padding: 0;
}

.banner-content h1 {
    font-size: 65px;
    font-weight: 700;
    color: var(--color-primary);
}

.banner-content h2 {
    font-size: 35px;
    font-weight: 700;
    color: var(--color-primary);
}

.banner-description {
    max-width: 650px;
    width: 100%;
}

.banner-description h3 {
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    margin: 0 0 5px;
    color: var(--color-primary);
    text-align: right;
}

.line-gap {
    background-color: var(--color-secondary);
    width: 25px;
    height: 350px;
    margin: 0 10px;
}

.newsletter {
    max-width: 650px;
    width: 100%;
}

.newsletter .newsletter-content {
    max-width: 500px;
    width: 100%;
    text-align: left;
    background-color: var(--color-primary);
    padding: 20px;
}

.newsletter-header h2 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-secondary);
}

.newsletter-header p {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-secondary);
}

.newsletter-form {
    margin-top: 10px;
}

.input-group {
    max-width: 480px;
    width: 100%;
    display: flex;
}

.input-group input[type="email"] {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 2px solid var(--color-tertiary);
    outline: none;
}

.input-group input[type="email"]:focus {
    border-color: var(--color-secondary);
}

.subscribe-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    border: none;
    cursor: pointer;
}

.cta {
    margin: 0 0 70px;
    padding: 0 15px 15px;
    font-size: 42px;
    color: var(--color-primary);
    text-align: center;
    text-shadow: 1px 1px 0 #3385bb, -1px 1px 0 #3385bb, 1px -1px 0 #3385bb,
        -1px -1px 0 #3385bb;
}

.cta a {
    text-decoration: underline;
    color: var(--color-primary);
}

/* ===== Footer ===== */

#site-footer {
    background: var(--color-secondary);
    padding: 15px 0;
}

#site-footer p {
    font-weight: 500;
    text-align: center;
    color: var(--color-primary);
}

/* ===== Responsive ===== */

@media screen and (max-width: 1199px) {
    #site-header .container {
        max-width: 100%;
        padding: 0 15px;
    }

    #banner {
        min-height: 780px;
    }

    ul.nav-menu {
        max-width: 450px;
        justify-content: space-evenly;
    }

    a.logo {
        font-size: 50px;
    }

    .banner-content {
        padding: 100px 0;
    }

    .banner-content h1 {
        font-size: 50px;
    }

    .banner-content h2 {
        font-size: 30px;
    }

    .banner-description h3 {
        font-size: 28px;
        text-align: right;
    }

    .line-gap {
        width: 20px;
        height: 250px;
        margin: 0 15px;
    }

    .newsletter .newsletter-content {
        max-width: 400px;
        padding: 15px;
    }

    .newsletter-header h2 {
        font-size: 26px;
    }

    .newsletter-header p {
        font-size: 16px;
    }

    .input-group input[type="email"] {
        font-size: 14px;
    }

    .subscribe-btn {
        font-size: 14px;
    }
}

@media screen and (max-width: 991px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        padding: 30px 0 0;
    }

    ul.nav-menu {
        display: none;
    }

    .container {
        justify-content: flex-start;
    }

    .banner-content .row {
        flex-direction: column;
        row-gap: 30px;
        margin-top: 30px;
    }

    .banner-content h1 {
        font-size: 40px;
    }

    .banner-content h2 {
        font-size: 25px;
    }

    .banner-description h3 {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
    }

    .line-gap {
        display: none;
    }

    .newsletter {
        max-width: 500px;
        padding: 0 15px;
    }

    .newsletter .newsletter-content {
        max-width: 100%;
        padding: 15px;
    }

    .newsletter-header h2 {
        font-size: 22px;
        text-align: center;
    }

    .newsletter-header p {
        font-size: 14px;
        text-align: center;
    }

    .input-group {
        flex-direction: column;
    }

    .input-group input[type="email"] {
        margin-bottom: 10px;
    }

    .subscribe-btn {
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width: 767px) {
    #banner {
        min-height: unset;
        height: auto;
    }

    .social-links p {
        font-size: 20px;
    }

    a.logo {
        font-size: 40px;
    }

    ul.nav-menu {
        flex-direction: column;
        justify-content: center;
        margin-top: 20px;
    }

    ul.nav-menu li a {
        font-size: 16px;
    }

    .banner-content h1 {
        font-size: 35px;
    }

    .banner-content h2 {
        font-size: 20px;
    }

    .banner-description h3 {
        font-size: 20px;
        text-align: center;
    }

    .newsletter .newsletter-content {
        padding: 20px;
    }

    .newsletter-header h2 {
        font-size: 20px;
    }

    .newsletter-header p {
        font-size: 12px;
    }

    .input-group input[type="email"] {
        font-size: 12px;
        padding: 8px;
    }

    .subscribe-btn {
        font-size: 12px;
    }
}

@media screen and (max-width: 479px) {
    a.logo {
        font-size: 30px;
    }

    ul.nav-menu li a {
        font-size: 14px;
    }

    .banner-content h1 {
        font-size: 30px;
    }

    .banner-content h2 {
        font-size: 18px;
    }

    .banner-description h3 {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
    }

    .newsletter .newsletter-content {
        padding: 15px;
    }

    .newsletter-header h2 {
        font-size: 18px;
    }

    .newsletter-header p {
        font-size: 10px;
    }

    .input-group input[type="email"] {
        font-size: 10px;
        padding: 6px;
    }

    .subscribe-btn {
        font-size: 10px;
        padding: 8px;
    }
}
